table, h3 {
    font-family: Sans-Serif !important;
}

td, th {
    padding: 1px;
}
.ekin_ga {
    width: 70px;
}

.date-select.month {
    column-count: 4;
}
.date-select label {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    width : 100%;
}

.date-select label.checked {
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;
}

.date-select input {
    display: none;
}

input[type=checkbox].form-control {
    display: inline;
    width: 34px;
}

span.cancel {
    cursor: pointer;
    color: #2a6496;
    text-decoration: underline;
}
.report {
    width: 100%;
}
.phone {
    max-width: 70px;
}
.fio {
    max-width: 180px;
}
th {
    font-size: 9pt;
}


@media print {
    .back_url {
        display: none;
    }
}